* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right,rgb(221, 45, 80), rgb(233, 9, 54));
    overflow: hidden;
}

.content-container {
    background-color: rgb(230, 223, 223);
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 2em;
    

}

header {
    display: flex;
    height: 6vh;
    padding: 1em 0 0 0;
    background-color:  white;
}

.logo {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > p {
    font-size: 16px;
    font-weight: 700;
    color: rgb(233, 9, 54);
    letter-spacing: 2px;
    position: absolute;
    left: 7%;
    transform: translateY(-10%);
}

.line {
    width: 100px;
    height: 3px;
    background-color:  rgb(233, 9, 54);
    position: relative;
    left: 70%;
    top: 25%;
}

nav {
    flex: 0.8;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: rgb(36, 34, 34);
    font-weight: 600;
}

.burger {
    flex: 0.1;
    cursor: pointer;
}

.burger > div {
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    background-color: rgb(36, 34, 34);
}

.msg-container {
    width: 550px;
    position: relative;
    left: 8%;
    top: 15%;
}

.msg-container__header {
    color: rgb(233, 9, 54);
    padding-bottom: 1em;
    font-size: 25px;
}

.msg-container p {
    line-height: 25px;
    color: black;
}

.msg-container a {
    text-decoration: none;
    color: white;
    border-radius: 30px;
    background-color: rgb(233, 9, 54);
    padding: 12px 15px;
    position: relative;
    top: 40px;
}

.footer {
    position: absolute;
    display: flex;
    bottom: 0;
    transform: translateY(-86%);
    background-color: black;
    height: 6vh;
    width: 90vw;
}

.rigths { 
    display: flex;
    flex: 0.3;
    color: white;
    justify-content: center;
    align-items: center;
}

.social-links {
    flex: 0.4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-links img {
    height: 50%;
}

.intouch {
    color: white;
    flex: 0.3;
    display: flex;
    align-items: center;
}
